
@media(min-width:1921px) {

}
@media(max-width:1920px) {

}
@media(min-width:1681px) {
}
@media(max-width:1680px) {

}
@media(max-width:1440px) {

}
@media (min-width:1200px) {
}
@media(max-width:1280px) {
    .menu>ul>li>a { padding: 0 8px; font-size: 12px; }
}
@media(max-width:1200px) {
    .hot-promotion-home .head-msg .inner {
        padding-right: 35px;
    }
    .hot-promotion-home .head-msg .content {
        padding: 42px 1px 0 115px;
    }
}
@media (min-width:992px) {
    .cd-top {
        height: 40px;
        width: 40px;
    }
    .account-link .mobile-link { display: none; }
    .account-info:hover .account-menu { top: calc(100% + 2px); visibility: visible; opacity: 1; z-index: 27; }
}
@media(max-width:991px) {
    .sidebar-sticky {
        top: 70px;
    }
    .theme-footer .top-footer-data-wrapper {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .hs-slider-section .owl-prev, .hs-slider-section .owl-next {
        top: 110px !important;
    }
    .header-center .menu {
        display: none;
    }
    .header{
        height: auto;
        padding: 15px 0;
    }
    .account-login .account-menu.active {
        display: block;
        top: calc(100% + 2px);
        visibility: visible;
        opacity: 1;
        z-index: 27;
    }

    .fixed-btn {
        height: 30px;
        top: 150px;
    }
    .fixed-btn a {
        padding: 0px 10px 3px 10px;
    }
    .fixed-btn-icon img {
        width: 20px;
        height: 20px;
    }


}
@media(min-width:768px) {

}
@media(max-width:767px) {
    .sidebar-detail {
        display: none;
    }

    .theme-footer .top-footer-data-wrapper {
        padding-bottom: 0;
    }
    .hs-slider-section .owl-prev, .hs-slider-section .owl-next {
        top: 90px !important;
    }
    .col-study-step .heading {
        flex-direction: column;
        padding: 10px;
    }
    .study-mobile-col {
        flex-direction: column;
    }

    .study-mobile-col > div {
        width: 100%;
        height: auto;
        min-height: 1px !important;
    }
    .list_hot_post {
        display: grid;
        grid-template-columns: repeat(8,216px);
        overflow: auto;
    }

    .list_hot_post .top_post_item {
        width: 100%;
        max-width: 100%;
    }

    ul.menu-step h3 {
        padding: 12px 15px;
        font-size: 14px;
    }
    ul.menu-step h2 {
        padding: 12px 15px 8px 15px;
        font-size: 13px;
    }
    ul.menu-step li a {
        padding: 6px 15px 6px 15px;
        font-size: 13px;
    }
    ul.menu-step {
        padding-bottom: 9px;
        overflow: hidden;
    }
    .list_hot_post li {
        padding: 0 7px 24px 7px;
    }
    .list_hot_post {
        padding: 12px 7px 0 7px;
    }


}
@media(max-width:640px) {
    .list-giangvien {
        grid-template-columns: repeat(2,1fr);
    }
    .list-course {
        grid-template-columns: repeat(1,1fr) !important;
    }
}
@media (min-width:576px) {
}
@media (max-width:575px) {
    .page-title {
        margin-top: 15px;
    }
    .page-title .breadcrumb {
        display: none;
    }

    .hide-on-mobile {
        display: none;
    }
   
    .cta-one__image-wrap {
        padding-right: 0;
    }

    .cta-one__content {
        text-align: center;
    }

    .cta-one__btn {
        margin-top: 10px;
    }

    .home-test-onine-section {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

    .home-test-onine-section h3 {
        margin-bottom: 0 !important;
    }

    .home-test-onine-section .mt-4 {
        margin-top: 0 !important;
    }

    .home-test-onine-section .col-botro {
        grid-gap: 5px;
    }

    .home-course-section .mb-4 {
        margin-bottom: 0 !important;
    }

    .home-course-section .p-4 {
        padding: 0.5rem !important;
    }

    .home-course-section .owl-theme .owl-nav {
        margin-top: 0 !important;
    }

    .home-techer-section {
        padding-bottom: 1.5rem !important;
    }

    .home-techer-section .mb-4 {
        margin-bottom: 0 !important;
    }

    .home-techer-section .gv-item .card {
        margin-bottom: 0;
    }

    .hs-slider-section {
        padding-top: 0 !important;
    }

    .hs-slider-section .mb-4 {
        margin-bottom: 0 !important;
    }

    .hs-slider-section .owl-theme .owl-nav {
        margin-top: 0 !important;
    }

    .gv-slider .owl-nav .owl-next {
        right: 5px;
    }
    .gv-slider .owl-nav .owl-prev {
        left: 5px;
    }
    #gv-slider .owl-prev, #gv-slider .owl-next {
        top: 120px;
    }
    #course-slider .owl-prev, #course-slider .owl-next {
        top: 150px;
    }
    #market-statistics-nav .navbar ul {
        flex-wrap: nowrap;
        overflow: auto;
    }

    #market-statistics-nav .navbar ul li a {
        white-space: nowrap;
    }
    #market-statistics-nav .navbar {
        padding-right: 0;
    }
}
@media(max-width:530px) {
}
@media(max-width:480px) {
    .hot-promotion-home .head-msg .content {
        padding: 30px 1px 0 115px;
    }
    .col-botro {
        grid-template-columns: 1fr;
    }
    .hs-slider-section .owl-prev, .hs-slider-section .owl-next {
        top: 110px !important;
    }
    #course-slider .owl-prev, #course-slider .owl-next {
        top: 195px;
    }
    .col-botro li:nth-child(n+5) {
        display: none;
    }
    .loi-ich-khoa-hoc ul li {
        width: 100%;
    }
}
@media(min-width:421px) {
}
@media(max-width:420px) {

}
@media(max-width:370px) {
    .list-giangvien {
        grid-template-columns: repeat(1,1fr);
    }
    .list-course {
        grid-template-columns: repeat(1,1fr) !important;
    }
}
@media(min-width:421px) and (max-width:575px) {

}
@media(min-width:641px) and (max-width:767px) {

@media(min-width:1201px) and (max-width:1280px) {

}